#about h2{
    color: red;
}
h5{
    color: black;
}
#about {
    text-align: justify;
}
#about1 ul{
    background-color: rgb(223, 238, 223);
}
#about1 ul  {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: chartreuse;
}